.result {
  height: 60px;
  background-color: rgb(43, 38, 38);
  width: 100%;
  color: white;
  float: right;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}


button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(177, 163, 163);
}