.App {
  text-align: center;
  color: lightgray;
  height:50px;
  background: skyblue;
}
.App ul li{
  display: inline;
  line-height: 50px;
  padding:  30px;
  color: white;
  margin: none;
  text-transform: uppercase;
}
.main{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.selected{
  background: pink;
  padding: 13px;
  margin: 0;
}

.display{
  color:white;
  padding: 9px;
  background: lightgray;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
}