body {
    text-align: center;
    background-color: #3d9776;
  }
  
  .master {
    margin: auto;
    width: 800px;
    background-color: #f1e2ca;
    color: #4b7a90;
    padding: 20px 10px 10px 10px;
  }
  
  .fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    color: #4b7a90;
    vertical-align: middle;
  }
  .labels {
    display: inline-block;
    text-align: right;
    width: 48%;
    margin-top: 10px;
  }
  
  .input-fields {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px 
  }
  
  .button {
    font-size: 14px;
    background-color: #142b43;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin: 10px;
  }
  
