

  #section-c .box-1, #section-c {
    background:#45ada8;
  }

  .box-2{
    background:lightgrey;
  }

  #section-c{
    font-family: "Lato", sans-serif;
    font-size: 19px;
    display:flex;
  }

  #section-a{
    font-family: "Lato", sans-serif;
    font-size: 19px;
    padding-right:260px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #45ada8;
    text-align: left;
  }

  #section-b{
    font-size: 19px;  
    font-family: "Lato", sans-serif;
    padding-left:260px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: lightgray;
    text-align: left;
  }

  h1{
      font-size: 64px;
  }
  header{
    font-family: "Lato", sans-serif;
      text-align: center;
      padding:128px 16px;
      background-image:url('beach.jpg');
      min-height:100%;
  }