
body {
  font-family: "Lato", sans-serif;
  background: #def2f1;

}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 1100px;
  margin: auto;
}

#landing-text {
  display: flex;
  height: 340px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header {
  padding: 24px;
  text-align: center;
  background: #b39bc8;
  color: #fff;
}

#header h2 {
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
}

.caption {
  padding: 12px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 32px 16px;
  margin: auto;
  color: #333;
}

button{
  background-color: #b39bc8;
  color: black;
  border-radius: 20%;
  padding: 8px 13px;
  display: inline-block;
}
